*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.1)50%,rgba(0,0,0,0.1)50%),url(logwal.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}
.form{
    width: 250px;
    height: 330px;
    color:lightblue;
    background:linear-gradient(to top,rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 35px 25px;
    border-radius: 7%;
}
.form h1{
    width: 200;
    text-align: center;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}
.form p{
    padding-bottom: -15px;
}
.form input{
  width:100%;
  height: 7%;
  padding-top: 5px;
  margin-bottom: 30px;
  background:transparent;
  border-bottom: 1px solid ;
  border-top: none;
  border-left:none;
  border-right: none;
  color: lightblue;
  outline: none;
  font-size: 15px;
  letter-spacing: 1px;
}
.form input[type="submit"]{
    width: 40%;
    margin-left: 80px;
    border: none;
    height:40px;
    color: #000;
    background-color: lightblue;
    border-radius:40px;
    cursor: pointer;
}
.form input[type="submit"]:hover{
width: 40%;
cursor: pointer;
background:transparent;
color: white;
border:2px solid lightblue;
box-shadow: 0 0 10px lightblue insert,0 0 10px 4px lightblue;
border-radius: 20px;
}
::placeholder{
    color:gray;
}